<!doctype html>
<html>
<head>
    <title>my title</title>
    <link rel="stylesheet"  href='/vendor/bootstrap.min.css'>
    <script src='//code.jquery.com/jquery-2.0.2.min.js'></script>
    <script src='/vendor/handlebars.min.js'></script>
   
</head>
<body>
	
    {{{body}}}
    
</body>
</html>